/* Calendar */
.calendar {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    padding: 10px;
    background-color: var(--container-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

/* FullCalendar Container */
.fc {
    max-width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.fc .fc-scrollgrid {
    border: none;
}

/* Header Toolbar */
.fc-toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.fc .fc-button {
    background-color: var(--button-bg-color);
    color: var(--container-bg-color);
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: var(--button-active-color);
}

.fc .fc-button:hover {
    background-color: var(--button-hover-color);
}

.fc .fc-button:focus {
    outline: none;
    box-shadow: none;
}

.fc .fc-today-button {
    display: none;
}

/* Calendar Table */
.fc table {
    width: 100%;
    border-collapse: collapse;
}

.fc th,
.fc td {
    border: 1px solid var(--other-border-color);
    padding: 0px;
    /* Size */
    text-align: center;
    background-color: var(--other-bg-color);
    transition: background-color 0.3s;
}

.fc th {
    background-color: var(--page-bg-color);
    font-weight: bold;
}

/* Event Styling */
.fc-event {
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Day Grid */
.fc-daygrid-event {
    margin-bottom: 5px;
}

/* Custom Scrollbar for Overflow */
.fc-scroller {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--button-bg-color) var(--page-bg-color);
}

.fc-scroller::-webkit-scrollbar {
    width: 8px;
}

.fc-scroller::-webkit-scrollbar-track {
    background: var(--page-bg-color);
}

.fc-scroller::-webkit-scrollbar-thumb {
    background-color: var(--button-bg-color);
    border-radius: 4px;
}

.fc-scroller::-webkit-scrollbar-thumb:hover {
    background-color: var(--button-hover-color);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .fc-toolbar {
        flex-direction: column;
    }
}