/* Course List */
.courseContainer {
    margin-top: 20px;
    width: 90%;
}

ul.groupSchedules,
ul.courseGroups,
.container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

/* Course item styles */
.course {
    display: flex;
    flex-direction: column;
}

#courseList li,
.course li {
    background-color: var(--settings-bg-color);
    color: var(--font-color);
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s, transform 0.3s;
}

#courseList li:hover,
.course li:hover {
    background-color: var(--disabled-bg-color);
    transform: translateY(-5px);
}

.courseName {
    font-weight: bold;
    font-size: 18px;
    color: var(--other-font-color);
}

.courseCode,
.courseSchedule {
    font-size: 16px;
    color: var(--other-light-font-color);
    margin: 5px 0;
}