/* Form Elements */
select#university_selector,
textarea#textInput {
    color: var(--font-color);
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--other-border-color);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--other-bg-color);
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
}

select#university_selector:focus,
textarea#textInput:focus {
    border-color: var(--button-bg-color);
    outline: none;
}

.un-selector {
    display: inherit;
}

button#addUniversityButton {
    position: relative;
    left: 20px;
    width: 30px;
    height: 30px;
}

/* Button container */
#saveAndLoadGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    /* Ensure it aligns with the select and textarea */
    margin-top: 15px;
    /* Space between the Enviar button and button group */
}

button#submitBtn {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    background-color: var(--button-bg-color);
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#submitBtn:hover {
    background-color: var(--button-hover-color);
}

button#submitBtn:active {
    background-color: var(--button-active-color);
}

button#saveBtn,
button#loadBtn,
button#addBtn {
    flex: 1;
    /* Make both buttons take equal space */
    margin: 0 5px;
    /* Add space between buttons */
    padding: 10px;
    background-color: var(--save-and-load-bg-color);
    color: var(--enabled-bg-color);
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


button#saveBtn:hover,
button#loadBtn:hover,
button#addBtn:hover {
    background-color: var(--save-and-load-hover-color);
}

button#saveBtn:active,
button#loadBtn:active,
button#addBtn:active {
    background-color: var(--save-and-load-active-color);
}